@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: black;
}
.index-main {
  flex-grow: 1;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  width: 1160px;
  margin: 15px auto 0;
}
.page-header::after {
  content: "";
  position: absolute;
  top: 40px;
  left: auto;
  width: 1160px;
  height: 186px;
  background-color: #FFE17F;
  z-index: -3;
}
.logo {
  width: 145px;
  margin-top: 5px;
  margin-left: 60px;
  margin-bottom: 30px;
  cursor: pointer;
}
.page-logo:hover {
  opacity: 60%;
}
.page-logo:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .page-logo:focus {
    outline: 2px solid #AF4FFF;
  }
}
.page-logo:active {
  opacity: 30%;
}
.header-user {
  margin-bottom: 30px;
}
.navigation a, .header-user a {
  color: black;
  text-decoration: none;
}
.header-user-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 1040px;
  align-items: center;
}
.searching {
  min-width: 517px;
  display: grid;
  grid-template-columns: 1fr 160px;
  grid-template-rows: 40px;
  box-sizing: border-box;
  margin-right: 26px;
}
.header-search {
  font-family: "rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 48px;
  background-color: #FFE17F;
  border: 2px solid #000;
  border-radius: 50px 0 0 50px;
  background-image: url("../images/images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}
.header-search:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .header-search:focus {
    outline: 2px solid #AF4FFF;
  }
}
.header-search:disabled {
  opacity: 30%;
}
.header-search-button {
  font-family: "rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFE17F;
  border: 2px solid #000;
  border-left: 0;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}
.header-search-button:hover {
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
}
.header-search-button:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .header-search-button:focus {
    outline: 2px solid #AF4FFF;
  }
}
.header-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  border: 2px solid #000;
  background-color: #000;
}
.header-search-button:disabled {
  opacity: 30%;
}
.user-link:hover {
  opacity: 60%;
}
.user-link:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .user-link:focus {
    outline: 2px solid #AF4FFF;
  }
}
.user-link:active {
  opacity: 30%;
}
.login-link {
  display: flex;
  justify-content: space-between;
  min-width: 204px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 27px;
  margin-right: 26px ;
  background-color: #FFE17F;
  background-image: url(../images/images/login-icon.svg);
  background-size: 13px 12px;
  background-repeat: no-repeat;
  background-position: center left 0;
  cursor: pointer;
}
.logout {
  opacity: 30%;
}
.compare-link {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 22px;
  margin-right: 36px;
  background-color: #FFE17F;
  background-image: url(../images/images/compare-icon.svg);
  background-size: 10px 12px;
  background-repeat: no-repeat;
  background-position: center left 0;
  cursor: pointer;
}
.basket-link {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  margin-left: auto;
  background-color: #FFE17F;
  background-image: url(../images/images/basket-icon.svg);
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: center left 0;
  cursor: pointer;
}
.basket-content-icon {
  position: absolute;
  left: -15px;
  bottom: 4px;
  z-index: 1;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
 }
.navigation-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  width: 1040px;
  grid-template-columns: 293px 1fr;
  gap: 276px;
  margin: 0 auto;
  align-items: center;
}
.navigation-button {
  position: relative;
  width: 293px;
  padding: 15px 57px 15px 0;
  font-family: "raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #000;
  background-color: #FFE17F;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.navigation-button:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .navigation-button:focus {
    outline: 2px solid #AF4FFF;
  }
}
.navigation-catalog-icon {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 30%;
  cursor: pointer;
}
.navigation-catalog-icon:hover {
  opacity: 100%;
}
.navigation-sublist {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 471px;
  justify-content: space-between;
}
.navigation-link {
  font-family: "raleway";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 3px;
  text-decoration: none;
  cursor: pointer;
}
.navigation-link:hover {
  opacity: 60%;
}
.navigation-link:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .navigation-link:focus {
    outline: 2px solid #AF4FFF;
  }
}
.navigation-link:active {
  opacity: 30%;
}
.bestseller {
  margin: 0 auto;
}
.bestseller-slider {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  height: 560px;
  margin: 0 auto 70px;
  justify-content: space-between;
}
.bestseller-slider::before {
  content: "";
  width: 1160px;
  height: 300px;
  bottom: 410px;
  position: absolute;
  background-color: #FFE17F;
  z-index: -2;
}
.bestseller-slider::after {
  content: "01";
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
  position: absolute;
  top: 79px;
  right: 49px;

  z-index: -1;
}
.slider-button {
  width: 20px;
  height: 60px;
  border: none;
  background: none;
  background-image: url(../images/images/slider-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider-button:hover {
  opacity: 60%;
}
.slider-button:focus-visible {
  outline: 1px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .slider-button:focus {
    outline: 1px solid #AF4FFF;
  }
}
.slider-button:active {
  opacity: 30%;
}
.slider-next {
  transform: rotate(180deg);
}
.bestseller-gallery {
  position: relative;
  top: -20px;
  width: 560px;
}
.bestseller-slider-image {
  display: block;
  object-fit: cover;
}
.slider-control {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.bestseller-slider-item {
  color: #444;
  position: relative;
  top: 121px;
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 400px;
}
.title  {
  display: block;
  margin: 0;
  margin-bottom: 29px;
  font-family: "raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}
.item-description {
  color: #444;
  display: block;
  margin: 0;
  margin-bottom: 50px;
}
.bestseller-slider-item .button {
  display: block;
  width: 210px;
  margin: 0;
  margin-bottom: 50px;
}
.button {
  padding: 10px 5px;
  font-family: "raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-image: linear-gradient(transparent 40%, #FFE17F 40% 60%, transparent 60%);
  text-align: center;
}
.button:hover {
  background-color: #FFE17F;
  background-image: none;
}
.button:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .button:focus {
    outline: 2px solid #AF4FFF;
  }
}
.button:active {
  background-color: #FFCC33;
  background-image: none;
}
.features {
  margin: 0;
  min-width: 307px;
}
.features-value {
  font-size: 36px;
}
.features-type {
  font-size: 16px;
  color:#444;
}
.features th{
  padding-bottom: 12px;
  text-align: left;
}
.features th, td{
  padding-left: 0;
  padding-right: 20px;
  text-align: left;
}
.slider-pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -38px;
  display: flex;
  flex-wrap: wrap;
  width: 76px;
  justify-content: space-between;
}
.catalog-sections {
  margin-top: 0;
  margin-bottom: 172px;
}
.catalog-parts {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  justify-content: space-between;
}
.catalog-part {
  width: 160px;
}
.catalog-link {
  font-family: "raleway";
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
  display: grid;
  gap: 32px;
}
.catalog-link .catalog-image {
  object-fit: cover;
  background-color: #FFE17F;
}
.catalog-link:hover .catalog-image {
    background-color: #FFC700;
}
.catalog-link:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .catalog-link:focus {
    outline: 2px solid #AF4FFF;
  }
}
.catalog-link:active {
  opacity: 30%;
}
.service {
  background-color: #F0F0F0;
}
.service-container {
  position: relative;
  top: -102px;
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.service-list {
  list-style-type: none;
  padding: 64px 0;
  margin: 0;
  margin-right: auto;
  display: grid;
  gap: 35px;
  width: 270px;
}
.service-button {
  width: 160px;
  height: 40px;
}
.button.service-button.service-button-current {
  padding-left: 20px;
  width: 280px;
  height: 40px;
  color: #FFE17F;
  background-color: #000;
  background-image: none;
  text-align: left;
}
.button.service-button:hover {
  background-color: #FFE17F;
  background-image: none;
}
.button.service-button:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .button.service-button:focus {
    outline: 2px solid #AF4FFF;
  }
}
.button.service-button:active {
  background-color: #FFCC33;
  background-image: none;
}
.button.service-button.service-button-current:hover {
  padding-left: 60px;
  color: #FFE17F;
  background-color: #000;
  background-image: none;
}
.button.service-button.service-button-current:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .button.service-button.service-button-current:focus {
    outline: 2px solid #AF4FFF;
  }
}
.button.service-button.service-button-current:active {
  padding-left: 60px;
  color: #FFE17F;
  background-color: #000;
  background-image: none;
}
.delivery {
  display: flex;
  padding: 0;
  width: 694px;
  margin: 72px 63px 72px 116px;
  justify-content: space-between;
  align-items: center;
}
.delivery-text {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.delivery-description {
  color: #444;
  display: block;
  padding: 0;
  margin: 0;
}
.service-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 280px;
  width: 7px;
  background-color: #000;
}
.special-request-button {
  padding: 0;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  border: none;
  font-family: "raleway";
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  background-color: #F0F0F0;
  cursor: pointer;
}
.track-icon {
  background-color: #FFE17F;
  padding: 34px 39px;
}
.info-icon {
  background-color: #F0F0F0;
  padding: 30px 42px;
}
.special-request-button:hover .track-icon  {
  background-color: #FFC700;
}
.special-request-button:hover .info-icon g {
  opacity: 100%;
}
.special-request-button:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .special-request-button:focus {
    outline: 2px solid #AF4FFF;
  }
}
.special-request-button:active {
  opacity: 30%;
}
.about-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 70px;
}
.about {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 47px;
  display: grid;
  gap: 30px;
  align-content: start;
  width: 520px;
}
.about::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: #000;
}
.about .title {
  margin-bottom: 18px;
}
.about-text {
  color: #444;
  padding: 0;
  margin: 0;
  max-width: 520px;
}
.about-text-list {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
}
.about-text-list-item {
  max-width: 520px;
  margin-bottom: 19px;
  color: #FFC700;
}
.about-text-list-item:last-child {
  margin-bottom: 0;
}
.about-text-list-item span {
  font-weight: 700;
  color: #000;
}
.about-button {
  width: 270px;
  padding: 10px 6px;
}
.contacts {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 47px;
  width: 532px;
  display: grid;
  gap: 30px;
  align-content: start;
}
.contacts::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 84px;
  height: 7px;
  background-color: #000;
}
.contacts .title {
  margin-bottom: 18px;
}
.contacts-text {
  color: #444;
  margin: 0;
  padding: 0;
}
.address, .schedule {
  list-style-type: none;
  color: #444;
  margin: 0;
  padding: 0;
}
.contacts-address, .contacts-phone {
  color: #444;
  font-style: normal;
}
.contacts .subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  color: #444;
  font-weight: 700;
  font-size: 24px;
}
.contacts-button {
  width: 247px;
  margin: 0;
  padding: 10px 6px;
}
.subscription {
  background-color: #F0F0F0;
}
.subscription-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding-top: 64px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.subscription .title {
  width: 348px;
  padding: 0;
  margin: 0;
}
.subscription-text {
  color: #444;
  width: 560px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}
.subscription-form {
  padding: 0;
  margin-top: 144px;
  margin-bottom: 56px;
  display: grid;
  grid-template-columns: 557px 253px 1fr;
  width: 1158px;
}
.subscription-input {
  padding-left: 16px;
  background-color: #F0F0F0;
  border: 0;
  border-bottom: 3px solid #C4C4C4;
  color: #444;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}
.subscription-button {
  padding: 15px 39px;
  border: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  font-family: "raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.subscription-button:hover {
  border: none;
  background-color: #000;
  color: #fff;
}
.subscription-button:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .subscription-button:focus {
    outline: 2px solid #AF4FFF;
  }
}
.subscription-button:active {
  border: none;
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
}
.subscription-button:disabled {
  border: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  color: #000;
  opacity: 30%;
}
.subscription-span {
  color: #444;
  margin-left: auto;
  padding-left: 32px;
  line-height: 57px;
  background-color: #F0F0F0;
  background-image: url("../images/images/tick-icon.svg");
  background-size: 16px 16px;
  background-position: left 0 center;
  background-repeat: no-repeat;
}
.page-footer {
  color: #fff;
  background-color: #444;
  font-size: 16px;
  line-height: 20px;
}
.footer-address  {
  color: #fff;
  background-color: #444;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
}
.footer-container{
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}
.footer-contacts {
  position: relative;
  width: 239px;
  padding: 0;
  margin-top: 62px;
  margin-bottom: 77px;
}
.footer-contacts::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}
.footer-second-column {
  margin-top: 137px;
  margin-bottom: 61px;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 444px;
  min-height: 123px;
  justify-content: space-between;
}
.footer-third-column {
  margin: 0;
  padding: 0;
  margin-top: 140px;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  width: 175px;
  height: 116px;
  justify-content: space-between;
}
.footer-logo {
  padding: 0;
  margin: 0;

}
.footer-logo-link:hover {
  opacity: 60%;
}
.footer-logo-link:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .footer-logo-link:focus {
    outline: 2px solid #AF4FFF;
  }
}
.footer-logo-link:active {
  opacity: 30%;
}
.footer-text {
  padding: o;
  margin: 0;
  min-width: 239px;
  margin-top: 35px;
  margin-bottom: 64px;
}
.footer-links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 444px;
  justify-content: space-between;
}
.footer-links-item {
  padding: 0;
}
.footer-link {
  position: relative;
  padding: 5px;
  font-family: "raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-link:hover {
  color: #FFC700;
}
.footer-link:hover::before {
  content: "";
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 0;
  height: 2px;
  background-color: #FFC700;
}
.footer-link:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .footer-link:focus {
    outline: 2px solid #AF4FFF;
  }
}
.footer-link:active {
  color: rgba(255, 199, 0, 0.3);
}
.footer-link:active::before {
  content: "";
  position: absolute;
  left: 5px;
  right: 5px;
  bottom: 0;
  height: 2px;
  background-color: rgba(255, 199, 0, 0.3);
}
.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 444px;
  justify-content: center;
}
.footer-social-item {
  margin-right: 15px;
}
.footer-social-item:last-child {
  margin-right: 0;
}
.social-button:hover .social-icon circle {
  fill: #FFC700;
  fill-opacity: 100%;
}
.social-button:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .social-button:focus {
    outline: 2px solid #AF4FFF;
  }
}
.social-button:active .social-icon circle {
  fill: #FFC700;
  fill-opacity: 100%;
}
.social-button:active .social-icon g {
  fill-opacity: 30%;
}
.footer-phone {
  position: relative;
  color: #fff;
  background-color: #444;
  font-size: 16px;
  line-height: 20px;
}
.footer-phone:hover {
  color: #FFC700;
}
.footer-phone:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .footer-phone:focus {
    outline: 2px solid #AF4FFF;
  }
}
.footer-phone:active {
  color: rgba(255, 199, 0, 0.3);
}
.htmlacademy-link .htmlacademy-icon {
  fill: #FFC700;
}
.htmlacademy-link:hover .htmlacademy-icon {
 fill: #fff;

}
.htmlacademy-link:focus-visible {
  outline: 1px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .htmlacademy-link:focus {
    outline: 1px solid #AF4FFF;
  }
}
.htmlacademy-link:active .htmlacademy-icon {
 fill: #fff;
 fill-opacity: 30%;
}
.inner-header {
 margin: 35px auto;
 display: flex;
 flex-direction: column;
 width: 1040px;
 justify-content: flex-start;
}
.inner-header-title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 1040px;
  justify-content: flex-start;
}
.breadcrumbs-item {
  padding-right: 36px;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFFFFF;
  background-image: url("../images/images/breadcrumbs-arrow.svg");
  background-size: 4px 7px;
  background-repeat: no-repeat;
  background-position: right 16px center;
}
.breadcrumbs-item:last-child {
  background-image: none;
}
.breadcrumbs-link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.breadcrumbs-link:hover {
 opacity: 60%;
}
.breadcrumbs-link:focus-visible {
  outline: 1px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .breadcrumbs-link:focus {
    outline: 1px solid #AF4FFF;
  }
}
.breadcrumbs-link:active {
  opacity: 30%;
 }
.catalog-products {
  background-color: #F0F0F0;
}
.catalog-products-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.left-column {
  margin: 0;
  display: flex;
  width: 320px;
  flex-direction: column;
}
.catalog-filter .button {
  width: 210px;
}
.right-column {
  background-color: #fff;
  width: 840px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 78px;
}
.sorting {
  background-color: #F0F0F0;
  width: 760px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-group {
  width: 320px;
  border: none;
  border-top: 2px solid #000;
}
.filter-list {
  list-style-type: none;
}
.filter-item {
  font-size: 16px;
  line-height: 21px;
}
.filter-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.select-control {
  padding-right: 12px;
  border: none;
  background-color: #F0F0F0;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: black;
  cursor: pointer;
}
.select-control:hover {
  opacity: 60%;
}
.select-control:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .select-control:focus {
    outline: 2px solid #AF4FFF;
  }
}
.select-control:active {
  opacity: 30%;
}
.low-high {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  fill-opacity: 20%;
}
.low-high:hover {
  fill-opacity: 50%;
}
.low-high:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .low-high:focus {
    outline: 2px solid #AF4FFF;
  }
}
.low-high:active {
  fill-opacity: 100%;
}
.product-list {
  list-style-type: none;
  margin: 0;
  padding: 70px 40px 44px;
  width: 760px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 44px 40px;
}
.product-card-link {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
}
.product-card-image {
  margin-bottom: 32px;
}
.product-card-description {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.product-card-title {
  margin: 0;
  padding: 0;
  max-width: 226px;
}
.product-card-price {
  font-weight: 400;
}
/*Отметка "new" class="new"*/
.product-card-link.new::before {
  content: url("../images/images/new-icon.svg");
  position: absolute;
  width: 60px;
  height: 60px;
  top: 27px;
  right: 27px;
}
.product-card-link::after {
  display: none;
  content: "Подробнее";
  padding: 6px 5px;
  width: 210px;
  font-family: "raleway";
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;
  background-image: linear-gradient(transparent 40%, #FFE17F 40% 60%,  transparent 60%);
  text-align: center;
  position: absolute;
  top: 174px;
  left: 70px;
}
.product-card-link:hover .product-card-image, .product-card-link:hover .product-card-description {
  opacity: 60%;
}
.product-card-link:hover::after {
  display: block;
}
.product-card-link:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .product-card-link:focus {
    outline: 2px solid #AF4FFF;
  }
}
.product-card-link:active .product-card-image, .product-card-link:active .product-card-description {
  opacity: 30%;
}
.product-card-link:active::after {
  display: block;
  background-image: linear-gradient(transparent 40%, #FFC700 40% 60%, transparent 60%);
}
.add-button {
  width: 760px;
  margin: 0 auto;
  height: 55px;
  font-family: "raleway";
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #fff;
  border: 3px solid #E5E5E5;
  cursor: pointer;
}
.add-button:hover {
  border: 3px solid #000;
}
.add-button:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .add-button:focus {
    outline: 2px solid #AF4FFF;
  }
}
.add-button:active {
  border: 3px solid #000;
  opacity: 30%;
}
.add-button:disabled {
  opacity: 30%;
}
.pagination {
  line-height: 20px;
  padding: 0;
  margin: 40px auto;
  list-style-type: none;
  background-color: #EBEBEB;
  display: flex;
  width: 760px;
  justify-content: space-between;
  align-items: center;
}
.pagination-numbers {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.pagination-number {
  padding: 0;
  margin: 0;
}
.pagination-item {
  padding: 25px 0;
}
.pagination-link {
  padding: 4px 16px 5px;
  font-family: "rubik";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: #444;
  opacity: 30%;
}
.pagination-prev {
  padding: 25px;
  font-family: "raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #000;
  opacity: 100%;
}
.pagination-next {
  padding: 25px;
  font-family: "raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #000;
  opacity: 100%;
}
.pagination-current {
  color: #444;
  opacity: 60%;
}
.pagination-link.pagination-disabled {
  color: #444;
  opacity: 30%;
}
.pagination-link:hover {
  opacity: 100%;
}
.pagination-prev:hover {
  background-color: #DCDCDC;
}
.pagination-next:hover {
  background-color: #DCDCDC;
}
.pagination-link:focus-visible {
  outline: 2px solid #AF4FFF;
}
@supports not selector(:focus-visible) {
  .pagination-link:focus {
    outline: 2px solid #AF4FFF;
  }
}
.pagination-link:active {
  opacity: 10%;
}
.pagination-prev:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #DCDCDC;
}
.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #DCDCDC;
}
