@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: black;
}
.index-main {
  flex-grow: 1;
}
.logo {
  display: block;
  width: 145px;
  margin-top: 20px;
  margin-left: 200px;
}
.page-header {
  width: 1160px;
  margin: 0 auto;
  background-color: #FFE17F;
}
.header-navigation-user {
  margin: 30px auto;
  padding: 0;
}
.navigation-user {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 1040px;
  justify-content: space-between;
  align-items: center;
  background-color: #FFE17F;
}
.searching {
  min-width: 520px;
}
.login-link {
  width: 231px;
}
.compare-link {
  width: 105px;
}
.basket-link {
  width: 141px;
  margin-left: auto;
}
.navigation-list {
  padding: 0;
  display: flex;
  width: 1040px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #FFE17F;
}
.header-catalog {
  width: 293px;
}
.navigation-sublist {
  padding: 0;
  display: flex;
  width: 471px;
  justify-content: space-between;
}
.bestseller-slider {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}
.slider-pagination {
  display: flex;
  width: 76px;
  margin: 0 auto;
  justify-content: space-between;
}
.catalog-sections {
  margin-top: 70px;
}
.catalog-parts {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}
.catalog-part {
  width: 160px;
}
.service {
  display: flex;
  width: 1160px;
  margin: 70px auto;
}
.service-list {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 0 auto;
  justify-content: space-evenly;
}
.delivery {
  display: flex;
  width: 873px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.special-request {
  display: flex;
  width: 873px;
  margin: 70px auto;
}
.about-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}
.subscription {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.subscription .title {
  width: 348px;
  padding: 0;
  margin: 74px 126px 144px 140px;
}
.subscription-text {
  width: 560px;
  padding: 0;
  margin: 74px 140px 144px 126px;
}
.subscription-form {
  width: 1158px;
  padding: 0;
  margin: 56px 141px;
}
.page-footer {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
}
.footer-contacts {
  width: 239px;
  padding: 0;
  margin: 62px 59px 77px 130px;
}
.footer-second-column {
  margin: 137px 91px 59px 60px;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 444px;
  height: 123px;
  justify-content: space-between;
}
.footer-links-list {
  display: flex;
  width: 444px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.footer-links-item {
  width: 128px;
  padding: 0;

}
.footer-social-list {
  display: flex;
  width: 444px;
  justify-content: center;
}
.footer-social-item {
  margin: 15px;
}
.footer-third-column {
  margin: 140px 140px 65px 91px;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 300px;
  height: 116px;
  justify-content: space-between;
}
.main-inner {

}
.inner-header {
 margin: 35px auto;
 display: flex;
 flex-direction: column;
 width: 1040px;
 justify-content: flex-start;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1040px;
  justify-content: flex-start;
}
.catalog-products {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}
.left-column {
  margin: 0;
  display: flex;
  width: 320px;
  flex-direction: column;
}
.right-column {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

}
.sorting {
  display: flex;
}
.product-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 840px;
  flex-wrap: wrap;
}
.product-card {
  display: flex;
  width: 360px;
  margin: 40px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pagination {
  display: flex;
  width: 760px;
  margin: 40px;
  justify-content: space-between;
}
.visually-hidden {
  display: none;
}

.navigation ul, .header-navigation-user ul, .slider-pagination, .catalog-parts, .service-list, .footer-links-list, .footer-social-list, .contacts-schedule-item, .breadcrumbs, .filter-list, .pagination, .product-card {
  list-style-type: none;
}
.contacts-schedule {
  padding: 0;
}
.navigation-search {
  width: 320px;
  height: 40px;
  margin: 0;
  padding: 0 0 0 16px;
  background-color: #FFE17F;
  border: 2px solid #000;
  border-radius: 50px 0 0 50px;
}
.navigation-search-button {
  font-family: "rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFE17F;
  width: 160px;
  height: 40px;
  margin: 0;
  border: 2px solid #000;
  border-radius: 0 50px 50px 0;
}

.navigation-list {
  font-family: "raleway";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
}

.navigation a, .header-navigation-user a {
  color: black;
  text-decoration: none;
}
.navigation-button {
  background-color: #FFE17F;
  font-family: "raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  border: none;
  letter-spacing: 20%;
  text-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
}
.slider-button {
  border: none;
  background: none;
}
.bestseller-slider-item .title, .delivery .title, .about .title, .contacts .title, .subscription .title, .inner-header-title {
  font-family: "raleway";
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}
.bestseller-slider-item .item-description, .delivery-description, .about-text, .contacts-text, .contacts-schedule-item, .contacts-phone, .subscription-text, .subscription-form span {
  color: #444;
}
.bestseller-slider-item .button, .service-item .button, .about .button, .contacts .button, .subscription-button, .catalog-filter .button, .pagination-link {
  font-family: "raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
.catalog-link {
  font-family: "raleway";
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
}
.catalog-image, .track {
  background-color: #FFE17F;
}
.features-value {
  font-size: 36px;
}
.features-type {
  font-size: 16px;
  color:#444;
}
.service-item .button {
  width: 160px;
  height: 40px;
  border: none;
  background: none;
}
.service-button-current {
  width: 280px;
  height: 40px;
  font-family: "raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #FFE17F;
  background-color: #000;
}
.special-request-button {
  margin: 70px auto;
  width: 1160px;
  height: 100px;
  border: none;
  font-family: "raleway";
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  background-color: #F0F0F0;
}

.about-text-list-item {
  color: #FFC700;
}
.about-text-list-item span {
  font-weight: 700;
  color: #000;
}
.contacts-address {
  color: #444;
  font-style: normal;
}
.contacts .subtitle {
  color: #444;
  font-weight: 700;
  font-size: 24px;
}
.subscription {
  background-color: #F0F0F0;
}
.subscription-form .input {
  width: 557px;
  height: 55px;
  background-color: #F0F0F0;
  border: 2px solid #C4C4C4;
  color: #444;
}
.subscription-button {
  width: 253px;
  height: 57px;
  background-color: #F0F0F0;
  border: 2px solid #C4C4C4;
}
.page-footer, .footer-phone {
  color: #fff;
  background-color: #444;
  font-size: 16px;
  line-height: 20px;
}
.footer-address  {
  color: #fff;
  background-color: #444;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
}

.contacts-text, .breadcrumbs-link, .filter-item {
  font-size: 16px;
  line-height: 20px;
}
.footer-links-item a {
  font-family: "raleway";
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.breadcrumbs-link {
  color: #000;
  text-decoration: none;
}
.catalog-products {
  background-color: #F0F0F0;
}
.product-list {
  background-color: #fff;
}
.catalog-filter .button, .select-control {
  border: none;
  background-color: #F0F0F0;
}
.filter-group {
  width: 320px;
  border: none;
  border-top: 2px solid #000;
}
.filter-title, .product-card-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.product-card-link {
  color: #000;
  text-decoration: none;
}
.product-card-price {
  font-weight: 400;
}
.add-button {
  width: 760px;
  height: 55px;
  font-family: "raleway";
  font-size: 16px;
  line-height: 18px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #fff;
  border: 3px solid #E5E5E5;
}
.pagination-link, .pagination-disabled {
  color: #444;
  opacity: 30%;
}
.pagination-current {
  color: #444;
  opacity: 60%;
}
.pagination-next {
  color: #000;
}
